{% load static %}
{% load women_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'women/css/styles.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon">
</head>
<body>
    {% block mainmenu %}
    {% show_menu %}
    {% endblock mainmenu %}
    <table class="table-content" border="0" cellpadding="0" cellspacing="0">
        <tr>
            {% load cache %}
            <td class="left-chapters" valign="top">
                <ul id="left-chapters">
                    {# {% cache 60 sidebar %} #}
                        {% if cat_selected == 0 %}
                        <li class="selected">Все категории</li>
                        {% else %}
                        <li><a href="{% url 'home' %}">Все категории</a></li>
                        {% endif %}
                        {% for c in cats %}
                            {% if c.get_posts__count > 0 %}
                                {% if c.pk == cat_selected %}
                                <li class="selected">{{c.name}}</li>
                                {% else %}
                                <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {# {% endcache %} #}
                    <li class="share">
                        <p>Наш канал</p>
                        <a href="https://www.youtube.com" class="share-yt"></a>
                    </li>
                </ul>
            </td>
            <td valign="top" class="content">
                {% block breadcrumbs %}
                {% endblock %}
                <div class="content-text">
                    {% block content %}
                    {% endblock %}
                    {% if page_obj.has_other_pages %}
                    <nav class="list-pages">
                        <ul>
                            {% if page_obj.has_previous %}
                            <li class="page-num"><a href="?page={{page_obj.previous_page_number}}">&lt</a></li>
                            {% endif %}
                            {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                            <li class="page-num page-num-selected"><a href="?page={{ p }}">{{ p }}</a></li>
                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-num"><a href="?page={{page_obj.next_page_number}}">&gt</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2">
                <div id="footer">
                    <p>Ⓒ 2022 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах, в том числе и бумажных, строго запрещено.</p>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>